.cl-button-root {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    position: relative;
}

.btn-default {
    height: 34px;
    border: none;
    border-radius: 17px;
    background-image: linear-gradient(to right, #5f3390, #2e2f8a);
    color: #fff;
	outline: none;
}

.btn-alternate {
	height: 34px;
	border-radius: 17px;
	border: solid 0.7px #31308b;
	background-color: #fff;
    color: #302f8a;
	outline: none;
}

.btn-navigate {
	height: 34px;
	border-radius: 17px;
    border: solid 0.7px #30308b;
	background-color: #eff0fa;
    color: #302f8a;
	outline: none;
}

.btn-navigate .cl-button-label {
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #30308b;
}

.btn-navigate .caret.before {
    float: left;
    margin-right: 5px;
}

.btn-navigate .caret.after {
    float: right;
    margin-left: 5px;
}