.cross-table {
	border-collapse: collapse;
	border: 1px solid #eff0fa;
}

.cross-table th, .cross-table td {
	border: 1px solid #eff0fa;
  }

.cross-table-header {
	font-family: Muli;
	font-size: 12px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #30308b;
	background-color: #f8f8f8;
	text-align: start;
	padding: 14px;
}

.cross-table-cell {
	font-family: Muli;
	font-size: 12px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #6c6c6c;
	padding: 14px;
}