@import 'epos-elements.scss';


.sb-show-main>#root>div {
    background-color: #777;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}

.nodrag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@import './selection-pane.scss';
@import './selection-grid.scss';
@import './login.scss';
@import './button.scss';
@import './ripple.scss';
@import './expander.scss';
@import './questionnaire.scss';
@import './progress-pane.scss';
@import './dialog.scss';
@import './tabular-cards.scss';
@import './summary.scss';