.sb-show-main>#root>div {
    background-color: #777;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}

.nodrag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.selection-pane-container {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 15px;
}

.selection-button {
    border-radius: 3px;
    border: solid 0.7px #8852c6;
    margin-right: 15px;
    color: #8852c6;
    padding: 10px 17px;
    cursor: pointer;

    font-family: Muli;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

@import './selection-grid.scss';
@import './login.scss';
@import './button.scss';
@import './ripple.scss';
@import './expander.scss';
@import './questionnaire.scss';
@import './progress-pane.scss';