.cl-dialog {
	display: flex;
    align-items: center;
	justify-content: center;
}

.cl-dialog-container {
	width: 545.7px;
	height: 359.8px;
	border-radius: 8px;
	background-color: #ffffff;
	outline: none;
}

.cl-dialog-header {
	width: 545.7px;
	height: 68.2px;
	border-radius: 8px;
	background-color: #eff0fa;  
}