.summary-card {
	width: 147px;
	height: 291px;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.28);
	background-color: #f1f2f4;
}

.summary-card-header {
	width: 147px;
	height: 81px;
	border-radius: 6px 6px 0 0;
	background-image: linear-gradient(118deg, #ba64ae 3%, #2e2f8a 99%);
}