$theme-color:#56328f;
$theme-gradient-horizontal: linear-gradient(90deg, rgba(86, 50, 143, 1) 0%, rgba(51, 47, 139, 1) 100%);
$theme-gradient-vertical: linear-gradient(180deg, rgba(86, 50, 143, 1) 0%, rgba(51, 47, 139, 1) 100%);
$login-banner-image:url(./img/login-background.jpg);

.outer {
    display: table;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -8px;
    background: $theme-color;
    background: $theme-gradient-vertical;

    .middle {
        display: table-cell;
        vertical-align: middle;

        .inner {
            background-image: $login-banner-image;
            background-size: cover;
            background-position-y: -235px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 400px;
        }
    }

}

.login-section {
    width: 518px;
    min-height: 560px;
    float: right;
    margin: -70px 4%;
    border-radius: 28px;
    background: white;

    .candela-icon {
        text-align: center;

        img {
            width: 45%;
            margin: 52px 0;
        }
    }
}

.custom-text-input {
    margin: 16px 0px
}

.custom-text-input input {
    width: 410px;
    font-size: 16px;
    text-align: center;
    background: #f6f5f8;
    padding: 25px 0px;
    border: 1px solid #eee5fb;
    border-radius: 4px
}


.custom-text-input input::placeholder {
    color: #6b67aa;
    opacity: 1;
    /* Firefox */
}

.custom-text-input input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6b67aa;
}

.custom-text-input input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6b67aa;
}


.custom-submit-button {
    margin-top: 60px
}

.custom-submit-button button {
    padding: 14px 46.5px;
    font-size: 16px;
    border: none;
    border-radius: 28px;
    color: white;
    background: $theme-gradient-horizontal;
}

.forgot-password {
    margin-top: 35px;
}

.forgot-password a {
    text-decoration: none;
}
